body {
background: url("../images/tile.jpg") repeat;
background-repeat: repeat;
/*color: #00ff00;*/
color: #ffffff;
font-size: 75pt;
font-family: times new roman;
text-align: center;
}

.title {
	font-size: 20pt;
}

.links {
	font-size: 15pt;
}

a {
	color: #ffffff;
}

a:hover {
	color:white;
}

.banners {
	margin-top: 25px;
	margin-bottom: 25px;
}

.footer{
 	font-size: 10px;
}