body {
background: url("../images/tile.jpg") repeat;
background-repeat: repeat;
color: #00ff00;
font-size: 75pt;
font-family: times new roman;
text-align: center;
}

.title {
	font-size: 20pt;
}

.links {
	font-size: 30pt;
}

a {
	color: #00ff00;
}

a:hover {
	color:white;
}
